WebClient/Service References/EmployeeService/EmployeeWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllEmpployees">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEmpployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEmpployeesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpployeesByJobID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpployeesByJobIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpployeesByJobIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJobs">
        <s:complexType />
      </s:element>
      <s:element name="GetJobsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJobsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllEmpployeesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEmpployees" />
  </wsdl:message>
  <wsdl:message name="GetAllEmpployeesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEmpployeesResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpployeesByJobIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpployeesByJobID" />
  </wsdl:message>
  <wsdl:message name="GetEmpployeesByJobIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpployeesByJobIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetJobsSoapIn">
    <wsdl:part name="parameters" element="tns:GetJobs" />
  </wsdl:message>
  <wsdl:message name="GetJobsSoapOut">
    <wsdl:part name="parameters" element="tns:GetJobsResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeeWSSoap">
    <wsdl:operation name="GetAllEmpployees">
      <wsdl:input message="tns:GetAllEmpployeesSoapIn" />
      <wsdl:output message="tns:GetAllEmpployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpployeesByJobID">
      <wsdl:input message="tns:GetEmpployeesByJobIDSoapIn" />
      <wsdl:output message="tns:GetEmpployeesByJobIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJobs">
      <wsdl:input message="tns:GetJobsSoapIn" />
      <wsdl:output message="tns:GetJobsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeWSSoap" type="tns:EmployeeWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEmpployees">
      <soap:operation soapAction="http://tempuri.org/GetAllEmpployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpployeesByJobID">
      <soap:operation soapAction="http://tempuri.org/GetEmpployeesByJobID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobs">
      <soap:operation soapAction="http://tempuri.org/GetJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmployeeWSSoap12" type="tns:EmployeeWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEmpployees">
      <soap12:operation soapAction="http://tempuri.org/GetAllEmpployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpployeesByJobID">
      <soap12:operation soapAction="http://tempuri.org/GetEmpployeesByJobID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobs">
      <soap12:operation soapAction="http://tempuri.org/GetJobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeWS">
    <wsdl:port name="EmployeeWSSoap" binding="tns:EmployeeWSSoap">
      <soap:address location="http://localhost:5499/EmployeeWS.asmx" />
    </wsdl:port>
    <wsdl:port name="EmployeeWSSoap12" binding="tns:EmployeeWSSoap12">
      <soap12:address location="http://localhost:5499/EmployeeWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>